<h1 class="main-header text-center">BOBO NAY-NAY'S<h1>
<p class="main-header-little text-center">Get Your Hair Did</p>

<a href="/owner" class="btn btn-success owner" role="button">Enter BoBo Nay-Nay<a>
